* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #348f50, #56b4d3);
}

#map_container {
  position: relative;
  overflow: hidden;
  height: auto;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  max-height: 100%;
  z-index: 1;
}

.map_pointer_container {
  position: absolute;
}

.map_pointer {
  width: 0.8vw;
  height: 0.8vw;
  color: black;
  transform: translate(-50%, -100%);
  z-index: 2;
}
.map_pointer:hover {
  cursor: pointer;
  color: red;
  z-index: 5;
}

.country_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 400px;
  padding: 20px;
  margin : 20px;
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translate(-50%);

  transition: transform 0.3s ease-in-out;
}

.country_card:hover {
  transform: scale(1.05);
}

.flag-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.flag {
  width: 100%;
  height: auto;
  max-width: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.country_details {
  text-align: center;
}

.country_name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.detail {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

@media (min-width: 600px) {
  .country_card {
    transform: translate(0%);
    top: 5rem;
    left: 0%;
    flex-direction: row;
    align-items: flex-start;
  }

  .flag-container {
    flex: 1;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .country_details {
    flex: 2;
    text-align: left;
  }
}

/* HEADER ------------------------*/

header {
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin: 10px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.search-bar label {
  margin-bottom: 5px;
  font-size: 1rem;
}

.search-bar__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  margin-top: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}


footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.489);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.range_container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 5px auto;
}

.sliders_control {
  position: relative;
  min-height: 10px;
}

.form_control {
  position: relative;
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type="number"] {
  font-size: 1rem;
  color: white;
  border: none;
  background: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #c6c6c6;
  pointer-events: none;
}

#population-from-slider {
  height: 0;
  z-index: 1;
}

#area-from-slider {
  height: 0;
  z-index: 1;
}
